
.stopwatch__section{
   display: grid;
  position: relative;

  width: 15vw;
  height: 5vh;

  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;

  font-size: 2vh;
  font-weight: 400;
}

.stopwatch__title{
    display: grid;
  position: relative;

  width: 15vw;
  height: 5vh;

  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;

  font-size: 2vh;
  font-weight: 400;

  background-color: rgb(255, 238, 0);
}